name: PHPUnit

on:
  push:
  pull_request: null
  workflow_dispatch:

jobs:
  tester:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '8.3', '8.4', '8.5' ]
    name: PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
      - run: composer install --prefer-dist --no-progress --no-suggest
      - run: vendor/bin/phpunit --exclude-group integration tests
